/* Smooth scrolling for the entire page */

html {
  scroll-behavior: smooth;
}

/* The Body Overflow */

html,
body {
  overflow-x: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
}

/* prevent accidental overflow from particles */

.particles-container {
  overflow: hidden;
}

.particle {
  will-change: transform, opacity;
  pointer-events: none;
}
.app {
  height: 100vh;
  width: 100vw;
}